{% extends "base.html" %}




                        {% block title %}Message Board {% endblock %}

                         {% block content %}
                        <center>
                            <h3>Message Board</h3>
test

                    <!-- todo: write a view to updatet this Simple MDL Progress Bar -->
                      <div id="p1" class="mdl-progress mdl-js-progress"></div>
                      <script>
                          document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
                              this.MaterialProgress.setProgress(60);
                          });
                      </script>

                            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                                <thead>
                                    <tr>
                                        <th><span class="mdl-badge" data-badge="{{ staff | length }}">Total</span></th>
                                        <span class="mdl-badge" data-badge="{{ in | length }}">In</span>
                                        <span class="mdl-badge" data-badge="{{ out | length }}">Out</span>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in staff %}
                                    <tr {% if s.status %} bgcolor="#B2FF59" {% else %} bgcolor="#9E9E9E " {% endif %}>
                                        <td class="mdl-data-table__cell--non-numeric">
                                          {% if s.status %} <i class="material-icons" style="padding-left:25px;">check</i>
                                          {% else %} <i class="material-icons" style="padding-left:25px;">close</i> {% endif %} {{ s.name }}
                                        </td>

                                        <div class="mdl-textfield mdl-js-textfield">
                                            <td>



                                              {{ s.message }}"> {{ s.message }}




                                            </td>
                                        </div>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </center>
                        {% endblock %}
