<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="refresh" content="60">
<title>Message Board</title>
</head>


{% block title %}
{% endblock %}
{% block content %}
<center>
<h1>In and Out Board</h1>

<table border="1">
<tr><th>name</th><th>in</th><th>out</th><th>last update</th><th>message</th></tr>

{% for s in staff %}
<tr>
<td {% if s.status %} bgcolor = "99FF99"  {% else %} bgcolor = "#D0D0D0 " {% endif %}>

{{ s.name }}


</td>

<td>

{# out s.status = True#}
{% if s.status %}  
    <form action="" method="post">

        <input type="hidden" name="staff_id" value="{{ s.id }}">
        <input type="hidden" name="out" value=" ">
        <input type="submit" value="">
    </form>
{% endif %}

</td>
<td>
{# in #}
  
{% if s.status %} 
{% else %}
    <form action="" method="post">

        <input type="hidden" name="staff_id" value="{{ s.id }}">
        <input type="hidden" name="in" value=" ">
        <input type="submit" value="">
    </form>
{% endif %}
</td>






<td> {{ s.last_mod|time }} <br>
{{ s.last_mod|date:"D d M Y"  }}</td>
<td>
    <form action="" method="post">


        <textarea rows="5" cols="20" name="message" value = "{{ s.message }}"> {{ s.message }} 
        </textarea>

        <input type="hidden" name="staff_id" value="{{ s.id }}">
        <input type="submit" value="update">
    </form>
</td>


</tr>
{% endfor %}

</table>
<a href="http://127.0.0.1:1111/admin">admin page</a>
</center>




{% endblock %}
